<ion-header>
  <ion-toolbar color="appbanner">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title id="title">Entertainment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="appback">
    <ion-card *ngFor="let article of articles" class="appcard">
        <ion-img src="{{article.urlToImage}}"></ion-img>
       <ion-card-header>
         <ion-title>{{article.title}}</ion-title>
       </ion-card-header>
       <ion-card-content>
         <h2>
           {{article.description}}
         </h2>
         <h5 *ngIf="article.author === null; else elseBlock" class="subtitles">Published by - Anonymous</h5>
         <ng-template #elseBlock><h5 class="subtitles">Published by - {{article.author}}</h5></ng-template>
         <p class="subtitles">{{article.publishedAt | date}}</p>
         <ion-spinner *ngIf="!articles"  name="dots"></ion-spinner>
         <ion-button color="success" ion-button fill="outline" href="{{article.url}}" target="_blank" large>Read full article</ion-button>
   
       </ion-card-content>
     </ion-card>
</ion-content>
